@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*{
    margin: 0;
    width: auto;
}
    



:root{
    --primary-color: #269BFC;
    --secondary-color: #0F0A0A;
    --accent1-color: #E7DFC6;
    --accent2-color: #F5B0CB;

    --heading-font: "Roboto Serif", serif;
    --paragraph-font: "Roboto Serif", serif;

    --nav-background-color: #269BFC;
    --nav-link-color: #0F0A0A;
    --nav-hover-link-color: #E7DFC6;
    --nav-hover-background-color: #F5B0CB;
}


h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}


p{
    font-family: var(--paragraph-font);
    padding: 20px;
    color: #000;
} 

.hero {
    background-image: url(../images/rafting13_1024.jpg);
    background-size: cover;
    position: relative;
    block-size: 400px;
    background-color: rgba(143, 138, 138, 0.5);
    
}

.hero p{
    color: white;
    position: relative;
    font-size: large;
    padding-top: 100px;
}

.hero img {
    float: right;
}

header{
    position:relative;
    z-index: 2;
}


footer {
  text-align: center;
  margin-bottom: 20px;
} 

